*~
__pycache__
*.aux
*.cpg
*.bbl
*.blg
*.dbf
*.dbf.xml
*.doc
*.docx
*.gif
*.htm
*.html
*.jpg
*.lof
*.knit.md
*.log
*.lot
*.out
*.pdf
*.png
*.prj
*.pyc
*.sbn
*.sbx
*.shp
*.shp.xml
*.shx
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.utf8.md
*.zip
Rplots.tex
js
tmp-pdfcrop-*.tex
.DS_Store
.Rhistory
.Rproj.user
.RData
