*~
__pycache__
*.aux
*.cpg
*.bbl
*.blg
*.dbf
*.dbf.xml
*.doc
*.docx
*.gif
*.htm
*.html
*.jpeg
*.jpg
*.lof
*.knit.md
*.log
*.lot
*.out
*.pdf
*.png
*.prj
*.pyc
*.sbn
*.sbx
*.shp
*.shp.xml
*.shx
*.svg
*.synctex.gz
*.synctex.gz(busy)
*.toc
*.utf8.md
*.zip
conda-bld/
Rplots.tex
js
tmp-pdfcrop-*.tex
logs/
zemljevidi/
.bash*
.cargo/
.conda/
.DS_Store
.local/
.profile
.RData
.Rhistory
.Rproj.user
.rstudio/
.subversion/
